# Игнорировать зависимости Node.js внутри папки админки
supabase-admin/node_modules/

# Также хорошая практика игнорировать папку с результатами сборки
supabase-admin/dist/

# Стандартные логи npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*